*
!Dockerfile
!vendor/
!vendor/skynet/
!vendor/skynet/**
!vendor/lua-cjson/
!vendor/lua-cjson/**
!tests/
!tests/demo-client.lua
!tests/run-demo.sh
!tests/client-socket.c
!tests/config-features
!tests/features.lua
**/.git

!patches/
!patches/**
!scripts/
!scripts/apply-skynet-patches.sh
